<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Political Insults Game</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <script type="text/javascript" src="static/scripts/script.js"></script>
</head>
<body onload="unload_main();">

<h1>Input details for both players</h1>

<form action="/fight" method = "POST" enctype = "multipart/form-data">
  <h1>Player 1</h1>
  <label for="gender1">Gender:</label>
  <input type="text" id="gender1" name="gender1"><br><br>
  <label for="pronouns1">Pronouns:</label>
  <input type="text" id="pronouns1" name="pronouns1"><br><br>
  <label for="age1">Age:</label>
  <input type="number" id="age1" name="age1"><br><br>
  <label for="skincolor1">Skin Color:</label>
  <input type="text" id="skincolor1" name="skincolor1"><br><br>
  <label for="politicalideology1">Political Ideology:</label>
  <input type="text" id="politicalideology1" name="politicalideology1"><br><br>
  <h1>Player 2</h1>
  <label for="gender2">Gender:</label>
  <input type="text" id="gender2" name="gender2"><br><br>
  <label for="pronouns2">Pronouns:</label>
  <input type="text" id="pronouns2" name="pronouns2"><br><br>
  <label for="age2">Age:</label>
  <input type="number" id="age2" name="age2"><br><br>
  <label for="skincolor2">Skin Color:</label>
  <input type="text" id="skincolor2" name="skincolor2"><br><br>
  <label for="politicalideology2">Political Ideology:</label>
  <input type="text" id="politicalideology2" name="politicalideology2"><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>