<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
<!--     <script src="myscripts.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1>
{{Content}}
</h1>
<body>
  <p id="output"></p>

  <script>
    // An array of lines to print
    var lines = {{List|tojson}};

    // Function to print lines one at a time
    function printLines() {
      var outputElement = document.getElementById("output");
      var index = 0;

      function printNextLine() {
        if (index < lines.length) {
          outputElement.innerHTML += lines[index] + "<br>";
          index++;
          setTimeout(printNextLine, 1000); // Delay between lines (in milliseconds)
        }
      }

      printNextLine();
    }

    // Start printing lines when the page loads
    window.onload = printLines;
  </script>
</body>
</html>