<!DOCTYPE html>
<html>
<body>

<h1>Input details for both players</h1>

<form action="/fight" method = "POST" enctype = "multipart/form-data">
  <label for="gender1">First Player's Gender:</label>
  <input type="text" id="gender1" name="gender1"><br><br>
  <label for="pronouns1">First Player's Pronouns:</label>
  <input type="text" id="pronouns1" name="pronouns1"><br><br>
  <label for="age1">First Player's Age:</label>
  <input type="number" id="age1" name="age1"><br><br>
  <label for="skincolor1">First Player's Skin Color:</label>
  <input type="text" id="skincolor1" name="skincolor1"><br><br>
  <label for="politicalideology1">First Player's Political Ideology:</label>
  <input type="text" id="politicalideology1" name="politicalideology1"><br><br>
  <label for="gender2">Second Player's Gender:</label>
  <input type="text" id="gender2" name="gender2"><br><br>
  <label for="pronouns2">Second Player's Pronouns:</label>
  <input type="text" id="pronouns2" name="pronouns2"><br><br>
  <label for="age2">Second Player's Age:</label>
  <input type="number" id="age2" name="age2"><br><br>
  <label for="skincolor2">Second Player's Skin Color:</label>
  <input type="text" id="skincolor2" name="skincolor2"><br><br>
  <label for="politicalideology2">Second Player's Political Ideology:</label>
  <input type="text" id="politicalideology2" name="politicalideology2"><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>