<!DOCTYPE html>
<html>
<body>

<h1>Input person's details</h1>

<form action="/action_page.php">
  <label for="gender">Gender:</label>
  <input type="text" id="gender" name="gender"><br><br>
  <label for="pronouns">Pronouns:</label>
  <input type="text" id="pronouns" name="pronouns"><br><br>
  <label for="age">Age:</label>
  <input type="number" id="age" name="age"><br><br>
  <label for="skincolor">Skin Color:</label>
  <input type="text" id="skincolor" name="skincolor"><br><br>
  <label for="politicalideology">Political Ideology:</label>
  <input type="text" id="politicalideology" name="politicalideology"><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>